<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="fr">
<head  th:replace="fragments/nav :: head">
    <title>Especes</title>
</head>

<body>
   <div th:replace="fragments/nav :: nav"></div>
    <h1>Detail d'une Espèce</h1>

    <form th:object="${species}" th:action="@{/species}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label for="commonName">Nom Commun : </label>
            <input type="text" th:field="*{commonName}" id="commonName"/>
            <span th:if="${#fields.hasErrors('commonName')}" th:errors="*{commonName}">Error</span>
        </div>

        <div>
            <label for="latinName">Nom latin :</label>
            <input type="text" th:field="*{latinName}" id="latinName"/>
            <span th:if="${#fields.hasErrors('latinName')}" th:errors="*{latinName}">Error</span>
        </div>

        <div>
            <input type="submit" class="button" value="Sauver"/>
            <input type="button" class="button" value="Retour"
                   onclick="window.location='/species'"/>
        </div>
    </form>
</body>

</html>